body{
	text-align: center;
	background: linear-gradient(to right, red, yellow);
}
h1{
	letter-spacing: 2px;
	font-style: 'Raleway',sans-serif;
	font-size: 100px;
	text-transform: uppercase;
	text-align: center;
}
h2{
	letter-spacing: 2px;
	font-style: 'Raleway',sans-serif;
	font-size: 80px;
	/*text-transform: uppercase;*/
	text-align: center;
}
